.container
{
          position: relative;
          width: 100%;
          height: 778px;
}
.home
{
          
                    display: flex;
                    justify-content: space-between;
                    width: 200px; /* Độ rộng của menu */
                    margin-top: 45px;
                    margin-left: 120px;
                    font-size: 18px;
                
}
.myacc
{
          display: flex;
          position: absolute;
          top: 55px;
          left: 120px;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          
}
.login
{
          display: flex;
          position: absolute;
          top: 80px;
          left: 0px;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 33px;
          

}
.signup
{
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 150px;
          left: 0px;
          width: 250px;
          font-family:poppins;
          font-size: 15px; 
}
.button1
{
          display: inline-block;
          position: absolute;
          width: 180px;
          height: 48px;
          margin-top: 200px;
          background-color: transparent; /* Màu nền trong suốt */
          /*border: none;*/
          margin-right: 40px;
}
.icon
{
  position: absolute;
  left: 40px; /* Khoảng cách của icon từ bên trái */
  top: 50%;
  transform: translateY(-50%);
}
.text
{
          margin-left: 60px;
          font-family: Poppins;
          font-size: 18px;
}
.button2
{
          display: inline-block;
          position: absolute;
          width: 180px;
          height: 48px;
          margin-top: 200px;
          background-color: transparent; /* Màu nền trong suốt */
          /*border: none;*/
          margin-left: 205px;
}
.email
{
          position: absolute;
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 18px;
          top: 300px;
          

}
#emailinput
{
          margin-top: 10px;
          width: 588px;
          height: 45px;
          margin-bottom: 10px;
          
          
}
.wrapcheck
{
display: flex;
justify-content: space-between;
}
.checkbox
{
  /* Rectangle 122 */
position: absolute;
width: 24px;
height: 24px;
left:1px;
top: 497px;

/* White color */
background: #FFFFFF;

}
.remember
{
  /* Remember Me */

position: absolute;
width: 105px;
height: 21px;
left: 40px;
top: 498px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height */

/* light */
/*color: #F4F4F4;*/
color: black;

}

.forget
{
  /* Forget Password ? */

position: absolute;
width: 131px;
height: 21px;
left: 485px;
top: 498px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height */

/* light */
/*color: #F4F4F4;*/
color: black;

}

.loginb
{
  
position: absolute;
width: 180px;
height: 48px;
left: 413px;
top: 550px;

/* Secondary Color */
/*background: #FFFFFF;
box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);*/
background-color: bisque;

}
.logint
{
  /* Shop Now */
position: absolute;
width: 50px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
left: 65px;
top: 10px;
/* identical to box height */

/* gradient */
background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.background
{
  position: absolute;
  width: 1440px;
  top: 50px;
}

.footer-main{
  /* border-radius: 10px; */
  position: absolute;
  width: 100%;
  left: 0px;
  top: 3845px;
  bottom: 0px;
  height: 389px;
  background:rgba(57,62,70,1);
}

