*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Mada';
}
#iframe{
    width: 100%;
    height: 80px;
    z-index: 1000;   
    position: fixed;
}
body{
    margin: 0;
}
.footer-main{

    position: absolute;
    width: 100%;
    left: 0px;
    top: 3845px;
    bottom: 0px;
    height: 389px;
    background:rgba(57,62,70,1);
}
.flex{
    display: flex;
    justify-content: center
}
/* Navabar */
.nav{
    position: absolute;
    width: 100%;
    height: 780px;
    left: 0%;
    top: 0%;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
    z-index: -1;
}
.nav-background{
    position: absolute;
    width: 100%;
    height: 780px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
    z-index: -1;
}
.nav-text-main{
   width: 100%;
   display: block;
}
.nav-text{
    position: absolute;
    width: 508px;
    height: 352px;
    left: 8%;
    top: 30%;
}
.Stop-now{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 180px;
height: 48px;
background: #FFFFFF;
box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}
#Stop-now{
width: 92px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;

background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-text h1{
    height: 50%;
    
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    color: #FFFFFF;
}
.nav-text p{
	height: 40%;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	text-align: left;
	line-height: 30px;
	margin-top: -4px;
	color:#DDDDDD;

}
.nav-text a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 10px;
    width: 20%;
    height: 7%;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}
.nav-img{
    position: absolute;
    width: 40%;
    height: 100%;
    left:48%;
    display: flex;
    flex-direction: column;
   
    font-style: normal;
    color: #FFFFFF;
}
.nav-img-item1{
    position: absolute;
    top: 20%;
}
#anh1{
    width: 100%;
    max-width: 173px;
	height: 268px;
}
#anh2{
    position: absolute;
    width: 146px;
    height: 219px;
    top: 60%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); 
}
#anh3{
    position: absolute;
    width: 400px;
    height: 522px;
    top: 19%;
    left: 245px;
    border: 10px solid #FFFFFF;
    background: url(.jpg), #9C9C9C;
    border-radius: 50px 50px 50px 0;
    transition: ease-in-out;
}
#anh3-child{
    position: absolute;
    width: 20%;
    height: 80px;
    left: 0%    ;
    z-index: 100;
}

.from-item {
    position: relative;
    width: 290px;
    height: 80px;
    left: 309px;
    top: 560px;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#anh-child{
    position: relative;
    width: 20%;
    height: 60px;
    top: 10px;
    left: 25%;
    margin-left: 25px;
    
}
#fa-angle-right-bg{
    position: absolute;
    top: 25px;
    right: -13px;
    background: #5463FF;
    z-index: 999;
}
#fa-angle-left-bg{
    z-index: 999;
    bottom: 25px;
    position: absolute;
    left: -17px;
    background: #5463FF;
}
/* Hiệu ứng fade in/out */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }to {
        opacity: 0;
    }
} 
 .hidden {
    animation: fadeOut 0.5s forwards;
   
}
.visible {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
/* footer */
h3{
    line-height: 14px;
    margin-bottom: 24px;
}
.body-img{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 780px;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
}
.body-img img{
    margin: 15px 40px 15px 0;
}


.category{

    position: absolute;
    width: 91.87%;
    height: 230px;
    left: 120px;
    top: 960px;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
} 
.category-center{
    max-width: 1398px;
    gap: 240px;
    justify-content: space-around;
    display: flex;
    margin-left: 60px;
}
.category-img{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;


}
.category-text{
    width: 508px;
    height: 222px;
    padding: 0;   
}
.category-text h1{
    /* Categories Style */

    width: 100%;
    height: 62px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    /* Dark color */
    color: #0D1222;


}
.category a{
    width: 100%;
    height: 30px;

   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #5463FF;


}
.category-text p{
    width: 100%;
    height: 90px;

   
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    color: #646464;
}
#fa-angle-right-bd,#fa-angle-left-bd{
    position: absolute;
    background: #5463FF;
    transform: translateY(-50%);

    z-index: 999;
}
.category #fa-angle-right-bd{
    left: 400px;
    position: relative;
    bottom: 100px;
    width: 24px;
    background: #5463FF;
    height: 24px;
}
.category #fa-angle-left-bd{
    left: 12px;
    position: relative;
    bottom: 100px;
    width: 24px;
    background: #5463FF;
    height: 24px;
}
.next-prev{
    position: relative;
    top: 234px;
    left: 27px;
}
.slider{
    animation: animate 1s ease-in-out 1 forwards;
}
@keyframes animate{
    from{
        opacity: 0;
        transform: translate(100px,0);
        filter: blur(33px);

    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
#anh-cat1{
    z-index: 2;
    position: relative;
}
#anh-cat2{
    width: 219px;
    height: 162.28px;
    position: relative;
    top: 55px;
    overflow: hidden;
}
.image-container{
    display: flex;
    gap: 24px;
    overflow: hidden;
}


#anh1-text{
position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
left: 50px;
top: -24px;
color: #FFFFFF;
}

/*  */
#anh1-img{
    position: relative;
    top:-100px;
}
#product-img{
    width: 265px;
    height: 248px;
}
.Seller-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Seller{
    /* Group 1859 */

    position: absolute;
    width: 100%;
    height: 146px;
    top: 1270px;
    text-align: center;
}
#CHOOSE{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #5463FF;


}
.Seller-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 0px;
    gap: 40px;
}
.Seller-text a{
    
    color: #000000;
  
}
.Seller h1{ 

    
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0D1222;
}
.Seller-text li {
    margin-left: 10px;
    
    font-style: normal;
    font-weight: 700;
}
.Seller li a{
    padding: 0 5px;
}
.Seller-text a:hover{
    border-radius: 2px;
    border-bottom:3px solid #5463FF ;
    color: #5463FF;
}

/* list */
.product{
    position: relative;
    margin-right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.list-product{
    position: absolute;
    width: 100%;
    height: 366px;
    top: 1456px;
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.15));
    display: flex; 
    justify-content: center;
}
/* ẩn các thẻ i */
.product .list-icon {
    display: none; 
    
}

.product img:hover + .list-icon {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 53%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    color: #FFFFFF;
    justify-content: flex-end;
    
}
.list-icon img{
    margin: 12px 16px 12px 0px;
}
.list-text{
    display: flex;
    justify-content: space-between;
   
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #0D1222;
}
.star{

    position: absolute;
    left: 6.42%;
    right: 53.58%;
    top: 88.52%;
    bottom: 6.56%;
    display: flex;

}
.list-text #H3{
    margin-left: 16px;
    margin-right: 16px;
}
#list-productcopy{
    /* Group 2008 */

    position: absolute;
    height: 366px;
    top: 1862px;
}

.Oblongers_T-Shirt-bg{
    position: absolute;
    width: 100%;
    height: 588px;
    top: 2308px;
    display: flex;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
}
.Oblongers_T-Shirt-list{
    position: absolute;
    width: 98%;
    height: 428px;
    top: 88px;
    left: -164px;
    display: flex;
    justify-content: space-around;

}
.Oblongers_T-Shirt-img{
    width: 851px;
    height: 428px;
}
#Group2008{
    
}

#left{
    padding: 11px 13px 11px 13px;
    height: 17px;
    background: white;
    position: relative;
    left: 50%;
    bottom: 48%;
}
#right{
    padding: 11px 13px 11px 13px;
    height: 17px;
    background: white;
    position: relative;
    left: 100%;
    bottom: 48%;
}
.slider1{
    transition: all 0.3s ease-in-out;
}
.active{
    position: relative;
    left: 200px;
    width: 314px;
    height: 428px;
}
.inactive{
    width: 320px;
    height: 298px;
    margin-bottom: 46px;
}
.Oblongers_T-Shirt-text{
    width: 510px;
    height: 392px;
    position: relative;
    left: 10%;
}
.Oblongers_T-Shirt-text ul{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 0;
    margin-top: 24px;
}

#color {
   
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 16px;
}
#color1{
    position: relative;
    top: 2px;
    display: flex;
    right: 0px;
    border: 4px solid black;
    border-radius: 50%;
}
#color2{
    top: -20px;
    position: relative;
    left: 30px;

}
#color3{
    top: -20px;
    position: relative;
    left: 40px;
}

.list-color{
    display: flex;
}
#color4{
    width: 152px;
    height: 24px;
    margin-right: 8px;
}
.color4{
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #DDDDDD;

}
.T-Shirt-Size li{

    width: 37px;
    height: 27px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;


}
.T-Shirt-Size div {
    display: flex;
}

.Size{
    background: #fff;
    color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 12px;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.Size:hover{
    font-weight: 700;
    color: #5463FF;
    cursor: pointer;
}
.title{
    font-family:Arial, Helvetica, 'Mada';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px; 
    color: #FFFFFF;
}
#text-money{
    width: 79px;
    height: 60px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
.T-Shirt-text3{
    margin-top: 24px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #DDDDDD;
}
.Order{
   
    gap: 10px;
    width: 180px;
    height: 48px;
    margin-top: 40px;
    background: #FFFFFF;
    font-weight: bold;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Order a{   
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.Testimonials{
position: absolute;
width: 93%;
height: 360px;

top: 2976px;

}
.Testimonials h1{
    text-align: center;
    margin-bottom: 40px;
}
.Testimonials1{
    width: 558px;
    height: 268px;
    margin-left: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

}
.Testimonials1::before {
    content: "";
    position: relative;
    top: 78px;
    left: 86.3%;
    border-top: 78px solid #F4F4F4;
    border-left: 78px solid transparent;


}
#Testimonials1{
    margin: 40px;
}
.avatar{
    display: flex;
    
}
#avatar{
    width: 48px;
    height: 48px;
}
.avatar-text #avatar-texth3,#avatar-textp{
    margin: 0;
    line-height: 24px;
    margin-left: 16px;
}
#avatar-textp{

    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #969696;
}
#Testimonials1-star{
width: 152px;
height: 24px;
margin: 24px 0 24px 0;
}
#Testimonials1-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #646464;
}
.Models{
    position: absolute;
    width: 100%;
    height: 349px;
    
    top: 3404px;
    display: flex;
    justify-content: center;
}
.Models-list-bg{
    width: 600px;
    height: 349px;
}
.Models-list{
    width: 513px;
    height: 258px;
    margin: 46px 0;
}
.Models-list-img{
    background: url(../img/unsplash_tvG4WvjgsEY.png);
    width: 590px;
    height: 349px;
    background-size: cover;
}
#Models-listh1{

    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */

    /* Dark color */
    color: #0D1222;


}
#Models-listp{
margin-top: 16px;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */

/* Medium Dark */
color: #646464;


}
#Models-lista{
width: 95px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}
#Models-list-bg-a{
    margin-top: 52px;
    width: 112px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 10px;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}


