*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    color: #000000;
}
body{
    margin: 0;
}
/* Navabar */
.nav{
    position: absolute;
    width: 100%;
    height: 780px;
    left: 0%;
    top: 0%;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
    z-index: -1;
}
.nav-background{
    position: absolute;
    width: 100%;
    height: 780px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #7D89FF 0%, #AB40FF 66.67%);
    z-index: -1;
}
.nav-text{
    position: absolute;
    width: 40%;
    height: 352px;
    left: 5%;
    top: 30%;
}
.nav-text h1{
    width: 90%;
    height: 50%;
    font-family: 'Mada';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 75px;
    color: #FFFFFF;
}
.nav-text p{
	width: 70%;
	height: 40%;
	overflow: hidden;
	font-family: Poppins;
	font-size: 18px;
	text-align: left;
	line-height: 30px;
	margin-top: -4px;
	color:#DDDDDD;

}
.nav-text a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
    gap: 10px;
    width: 20%;
    height: 7%;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}
.nav-img{
    position: absolute;
    width: 40%;
    height: 100%;
    left:50%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
}
.nav-img-item1{
    position: absolute;
    top: 20%;
}
#anh1{
    width: 100%;
    max-width: 173px;
	height: 268px;
}
#anh2{
    position: absolute;
    width: 27%;
    height: 219px;
    top: 60%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); 
}
#anh3{
    position: absolute;
    width: 70%;
    height: 522px;
    top: 19%;
    left: 39%;
    border: 10px solid #FFFFFF;
    background: url(.jpg), #9C9C9C;
    border-radius: 50px 50px 50px 0; 
    transition: ease-in-out;
}
#anh3-child{
    position: absolute;
    width: 20%;
    height: 80px;
    left: 0%    ;
    z-index: 100;
}

.from-item {
    position: absolute;
    width: 50%;
    height: 80px;
    left: 52%;
    top: 560px;
    display: block; 
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#anh-child{
    position: relative;
    width: 20%;
    height: 60px;
    top: 10px;
    left: 25%;
    margin-left: 25px;
    
}
#fa-angle-right-bg{
    position: absolute;
    width: 3.5%;
    height: 18px;
    top: 75%;
    left: 99%;
    bottom: -37.42%;
    padding: 5px 2px 5px 8px;
    background: #5463FF;
    z-index: 999;
}
#fa-angle-left-bg{
    z-index: 999;
    position: absolute;
    width: 3.5%;
    height: 18px;
    top: 75%;
    padding: 5px 2px 5px 8px;
    left: 48%;
    background: #5463FF;
}
/* Hiệu ứng fade in/out */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }to {
        opacity: 0;
    }
} 
 .hidden {
    animation: fadeOut 0.5s forwards;
   
}
.visible {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
/* footer */
h3{
    line-height: 14px;
    margin-bottom: 24px;
}
.body-img{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 780px;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
}
.body-img img{
    margin: 15px 40px 15px 0;
}

.footer-main{

    position: absolute;
    width: 100%;
    left: 0px;
    top: 3845px;
    bottom: 0px;
    height: 389px;
    background:rgba(57,62,70,1);
}
.category{
    position: absolute;
    width: 100%;
    height: 230px;
    left: 0%;
    top: 960px;
    display: flex;
    justify-content: space-between;
}
.category-img{
    width: 60%;
    height: 100%;
    display: flex;

}
.category-text{
    /* Group 1855 */

    width: 508px;
    height: 222px;
    left: 120px;
}
.category-text h1{
    /* Categories Style */

    width: 100%;
    height: 62px;
    font-family: 'Mada';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;

    /* Dark color */
    color: #0D1222;


}
.category a{
    width: 100%;
    height: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;

    color: #5463FF;


}
.category-text p{
    width: 100%;
    height: 90px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */

    /* Medium Dark */
    color: #646464;
}
#fa-angle-right-bd,#fa-angle-left-bd{
    position: absolute;
    padding: 5px 2px 5px 8px;
    background: #5463FF;
    /* White color */
    z-index: 999;
}
.category #fa-angle-right-bd{
    left: 85%;
    position: absolute;
    width: 10px;
    height: 15px;
    text-align: center;
    top: 45%;
    padding-right: 6px;
    background: #5463FF;
}
.category #fa-angle-left-bd{
    left: 60%;
    position: absolute;
    width: 10px;
    height: 15px;
    text-align: center;
    top: 45%;
    padding-right: 6px;
    background: #5463FF;
}

.category-img img{

}
#anh-cat1{
    position: absolute;
    max-width: 360px;
    width: 25%;
    height: 100%;
    left: 61%;
    background: url(.jpg), #A7A7A7;
}
#anh-cat2{
    position: absolute;
    left: 89%;
    top :10%;
    width: 15%;
    overflow: hidden;
}
#T-S{
    position: absolute;
    top: 11%;
    left: 71%;
    width: 10%;
    height: 10%;
    padding: 2px 0 2px 0;
    font-family: Signika;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background: #5463FF;
    text-align: center;
    z-index: 1;
}   
#JK{
    position: absolute;
    top: 19%;
    left: 95%;
    width: 7%;
    height: 8%;
    padding: 4px 0px 2px 3px;
    font-family: Signika;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #5463FF;
    text-align: center;
    z-index: 1;
}
.Seller{
    /* Group 1859 */

    position: absolute;
    width: 493px;
    height: 146px;
    left: 474px;
    top: 1270px;
}
.Seller-text{
    display: flex;
    padding: 0;
}
.Seller-text li {
    margin-left: 15px; 
    
}