
.nav-main{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    position: absolute;
    z-index: 1000;
    position: fixed;
}
.nav-item2{
    display: flex;
    margin: 28px 15px 0px 0px;
}
.nav-item2 li{
    margin-right: 40px;
}
.nav-item2 li a{
    font-family: 'Mada';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #0D1222;
    position: relative;

}
.nav-item2 li a:hover{
    color: #5463FF;
    font-family: 'Mada';
    font-style: normal;
    font-weight:700;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
}
.nav-item2 li a:hover::after{
    color: #5463FF;
    width: 5px;
    height: 5px;
}
#nav-item2-list::after{
    content: "";
    background-color: #5463FF;
    bottom: -8px;
    left: 50%;
    color: #5463FF;
    position: absolute;
    border-radius: 50%;
}

.nav-item2 a img{
    margin-left: 26px;
    
}
a,img{
    cursor: pointer;
}
.nav-item1{
    display: flex;
    top: 0px;
	left: 0px;
	width: 160px;
	height: 33.93px;
    margin: 28px 0 0 121px;
}

#LOGO{
    /* margin: 10px 0 10px 100px; */
    top: 9px;
	left: 42px;
	width: 122.4px;
	height: 20.4px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color:#0D1222;
    margin-top: 5px;
}
.nav-item1 img{
    top: 0px;
	left: 0px;
	width: 35.26px;
	height: 33.93px
}
#find{
	font-family: 'Mada';
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid #969696;
    background: rgba(255, 255, 255, 1);
    display: flex;
    margin-left: 16px;
    margin-right: 119px;
	padding-left: 10px;
    margin-top: -9px;


}
#search2{
    background: none;
    position: absolute;
    width: 18px;
    height: 18px;
    right: 6%;
    top: 30px;
}
.intput{
    
}
#iframe{
    top: 0px;   
}