.chear {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 320px;
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
iframe {
  position: absolute;
  width: 100%;
  z-index: 1000;
  border: none;
}

.footer-main {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 2000px;
  bottom: 0px;
  height: 389px;
  background: rgba(57, 62, 70, 1);
}
.inchear {
  width: 80%;
  height: 160px;
}
.homeshop p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
.homeshop {
  display: flex;
  gap: 24px;
}
.Shop {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: white;
  margin-top: 51px;
}
.circle_shop {
  display: flex;
  justify-content: space-between;
}
.circle {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: flex-start;
}
.circle1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.circle_one {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.circle1 p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.box_square {
  width: 18px;
  height: 80px;
  display: flex;
}
.square {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 18px;
  margin: auto;
}
.vecto {
  width: 5.34px;
  height: 10.68px;
}
.homeshop p:hover {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}
.circle1:hover {
  cursor: pointer;
}
.circle1:hover .circle_one {
  border: 3px solid white;
  cursor: pointer;
}
.T_Shirt{
color: black;
width: 139px;
height: 52px;
top: 139px;
left: 120px;
position: absolute;
}
